// Fonts
$font-stack:     sans-serif;
$primary-color: #353b42;
$secondary-color : #00adb5;
$tertiary-color: #eeeeee;
$green-color: #43a55b;
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'home';
@import 'projview.scss';


.pcolor{color:$primary-color;}
.scolor{color:$secondary-color;}
.tcolor{color: $green-color;}
.bpcolor{background-color: $primary-color;}
.bscolor{background-color: $secondary-color;}
.btcolor{background-color: $green-color;}
.borderpcolor{border-color: $primary-color;}
.borderscolor{border-color: $secondary-color;}
.bordertcolor{border-color: $green-color;}
hr{margin-top: 5px;}

@font-face {
  font-family: horizon;
  src: url('/fonts/horizon/Horizon.otf');
}
@font-face {
  font-family: library;
  src: url('/fonts/library/Library3am.otf');
}
body {
    color: $primary-color;
}
// CSS PARA EL NAVBAR
.nlogo{
  font-size: 24px;
  font-family: library;
  letter-spacing: -1px;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: $tertiary-color;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.list-group-item-action:hover{
	background-color: $secondary-color;
	color:$tertiary-color;
}
.list-group-item {
	border-color: rgba($secondary-color, .3);;
}

.sidebar a.active {
  background-color: $secondary-color;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: $secondary-color;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

#app{
  display: none;
}
// loader

.preloader{
  height: 100%;
  width: 100%;
  transition: all 1s ease;
}
.load{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 150px;
  width: 150px;
  margin: auto;
}

.vueltas {
	position: relative;
}
.vueltas:before, .vueltas:after {
	content: '';
	position: relative;
	display: block;
}
.vueltas:before {
	animation: vueltas 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
		-o-animation: vueltas 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
		-ms-animation: vueltas 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
		-webkit-animation: vueltas 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
		-moz-animation: vueltas 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
	width: 150px;
	height: 150px;
	border: 1px solid #000;
}
.vueltas:after {
	animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
		-o-animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
		-ms-animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
		-webkit-animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
		-moz-animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
	bottom: -30px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #d7d7d7;
}




@keyframes vueltas {
	50% {
		border-radius: 50%;
		transform: scale(0.5) rotate(360deg);
	}
	100% {
		transform: scale(1) rotate(720deg);
	}
}

@-o-keyframes vueltas {
	50% {
		border-radius: 50%;
		-o-transform: scale(0.5) rotate(360deg);
	}
	100% {
		-o-transform: scale(1) rotate(720deg);
	}
}

@-ms-keyframes vueltas {
	50% {
		border-radius: 50%;
		-ms-transform: scale(0.5) rotate(360deg);
	}
	100% {
		-ms-transform: scale(1) rotate(720deg);
	}
}

@-webkit-keyframes vueltas {
	50% {
		border-radius: 50%;
		-webkit-transform: scale(0.5) rotate(360deg);
	}
	100% {
		-webkit-transform: scale(1) rotate(720deg);
	}
}

@-moz-keyframes vueltas {
	50% {
		border-radius: 50%;
		-moz-transform: scale(0.5) rotate(360deg);
	}
	100% {
		-moz-transform: scale(1) rotate(720deg);
	}
}

@keyframes shadow {
	50% {
		transform: scale(0.5);
		border-color: #e4e4e4;
	}
}

@-o-keyframes shadow {
	50% {
		-o-transform: scale(0.5);
		border-color: #e4e4e4;
	}
}

@-ms-keyframes shadow {
	50% {
		-ms-transform: scale(0.5);
		border-color: #e4e4e4;
	}
}

@-webkit-keyframes shadow {
	50% {
		-webkit-transform: scale(0.5);
		border-color: #e4e4e4;
	}
}

@-moz-keyframes shadow {
	50% {
		-moz-transform: scale(0.5);
		border-color: #e4e4e4;
	}
}
